@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.7/dist/web/static/pretendard.css");
}

* {
  font-family: "Pretendard";
}

html {
  background-color: white;
}

body {
  display: flex;
}

.content {
  margin: auto;
  width: 360px;
  min-height: 800px;
  border: 1px solid black;
}

.label {
  background-color: white;
  border-radius: 999px;
  font-weight: 700;
  padding: 3px 5px 3px 5px;
  font-size: 13px;
  box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.10), 0px 2px 4px 0px rgba(0, 0, 0, 0.06);

}

#modal {
  display: flex;
  flex-direction: column;
  position:absolute;
}
@keyframes fadeInUp {
  0% {
      opacity: 0;
      transform: translate3d(0, 100%, 0);
  }
  to {
      opacity: 1;
      transform: translateZ(0);
  }
}


.content_map {
  position:relative;
  animation: fadeInUp 1s;
  display: flex;
  width:360px;
  height:170px;
  top:-170px;
  z-index: 1;
  flex-direction: column;
  border-radius: 10px 10px 0px 0px;
  background: var(--white, #FFF);
  box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.10), 0px 2px 4px 0px rgba(0, 0, 0, 0.06);

}

.content_map span {
  margin-left: 20px;
  color: #655858;
  /* pretendard-18 */
  font-size: 16px;
  font-weight: 500;
  
}